<div class="hero-text" id="anasayfa">
    <h1 style="color: rgb(42, 212, 255);"><br>HELZE</br><span style="color: aliceblue;">Masa ve Sandalye</span></h1>
    <h3>Yenilikçi ve Özgün Tasarımlar İçin..</h3>
    <a href="#neler" class="btn btn-lg btn-primary">Daha Fazlası</a>
    <ul class="social-links">
      <li class="label">Bizimle iletişime geçin</li>
      <li><a href="#"><img src="~/assets/twitter.png"></a></li>
      
    </ul>
  </div>