<footer>
    <div class="container-fluid">
      <div class="row footer">
        <div class="col-md-12 text-center">
          <h1>Helze<br><span>Masa & Sandalye</span></h1>
          
        </div>
      </div>
      <div class="row sub-footer">
        <div class="col-md-12 text-center">
          <p>Helze | 2024</a></p>
        </div>
      </div>
    </div>
  </footer>