<section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>A</span>K<span>S</span>U</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul >
            <li><a href="#anasayfa" data-after="Home">ANASAYFA</a></li>
            <li><a href="#neler" data-after="Service">ÜRÜNLERİMİZ</a></li>
            <li><a href="#hakkimizda" data-after="Projects">HAKKIMIZDA</a></li>          
            <li><a href="#iletisim" data-after="Contact">İLETİŞİM</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>