<section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a asp-controller="Home" asp-action="Index">
            <h1><span>H</span>el<span>z</span>e</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul >
            <li><a asp-controller="Home" asp-action="Index" data-after="Home">Anasayfa</a></li>
            <li><a asp-controller="Home" asp-action="Index" data-after="Service">Portfolyo</a></li>
            <li><a asp-controller="Home" asp-action="Index" data-after="Projects">Hakkımızda</a></li>          
            <li><a asp-controller="Home" asp-action="Index" data-after="Contact">İletişim</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>