@model Gallery.Models.ProductViewModel
@{
    Layout = "_Dashboard";
    ViewData["Title"] = "Admin Page";
}
<h1> Yeni Ürün</h1>

<form asp-controller="Create" asp-action="Index" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="CategoryId">Kategori</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control" style="width: 250px;">
            <option value="1">Seçiniz</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Images" class="control-label"></label>
        <input asp-for="Images" type="file" multiple class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>
