@model List<Gallery.Entity.Product>

    
<a asp-controller="Create" asp-action="Index">Oluştur</a>
    <h1>Ürünler Listesi</h1>
    
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@Url.Content(product.Images.FirstOrDefault()?.Url)" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductId" class="btn btn-sm btn-outline-secondary">Detaylar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    
