

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(0, 171, 245);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 99vw;
	height: auto;
}

#header .header {
	min-height: 8vh;
	background-color: rgba(0, 170, 255, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 50vw;
	height: 50vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(16, 175, 255);
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

 body {
  font-family: 'Open Sans', sans-serif;
  background-color: #cdc9ff;
  font-size: 16px;
  color: #222;
  font-weight: normal;
  letter-spacing: 0.03em;
}
a {
  color: #7447ae;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
section {
  width: 100%;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
}
.purple {
  color: #7447ae;
}
.pink {
  color: #ff2a75;
}
.blue {
  color: #37a7ff;
}

/* Hero Section */
header.hero {
  background: url(../images/esporr.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding-bottom: 80px;
}

header.heroo {
  background: rgb(31, 30, 30); no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  padding-bottom: 100px;
}

header.hero .hero-text {
  margin-top: 20%;
  margin-bottom: 20%;
}

header.heroo .heroo-text {
  margin-top: 20%;
  margin-bottom: 20%;
}

header.hero .row {
  position: relative;
}

header.heroo .row {
  position: relative;
}

a.menu {
  position: absolute;
  right: 0;
  top: 3em;
}
a.menu img {
  max-width: 40px;
}
a.menu:hover {
  transform: translateX(-5px);
  -webkit-transform: translateX(-5px);
}
header.hero h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5em;
  font-weight: 600;
  line-height: 1.4em;
}
header.hero h1 span,
header.hero h3 {
  font-weight: 300;
}
header.hero .btn {
  margin: 3em 0;
}

header.heroo h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5em;
  font-weight: 600;
  line-height: 1.4em;
}
header.heroo h1 span,
header.heroo h3 {
  font-weight: 300;
}
header.heroo .btn {
  margin: 3em 0;
}


ul.social-links li {
  display: inline-block;
}
ul.social-links li a {
  padding: 5px;
  opacity: 0.6;
}
ul.social-links li.label {
  font-size: 20px;
  opacity: 0.6;
  font-weight: 400;
}
ul.social-links li a:hover {
  opacity: 1;
}
ul.social-links li a img {
  max-height: 30px;
}


/* Case study */
.case-study .col-md-12 {
  transform: translateY(-80px);
  -webkit-transform: translateY(-80px);
  padding: 5em 3em;
  background-color: #fff;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
}
h4.sub-heading {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #4e4c58;
}
h1.heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #4e4c58;
  font-size: 3em;
  position: relative;
  padding-bottom: 10px;
}
h1.heading span {
  font-weight: 600;
}
h1.heading:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 100px;
}
h1.heading.purple:after {
  background-color: #7447ae;
}
h1.heading.pink:after {
  background-color: #ff2a75;
}


.swiper-container {
  
  width: 100%;
  height: 100%;
  padding: 4em 1em;
}
.swiper-slide {
  font-size: 18px;
  background: #fff;
}

.client-box {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  padding: 3.5em 2em;
  border-radius: 5px;
  border: 1px solid #eee;
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.client-box .client-logo {
  max-height: 120px;
}
.client-box h3.title {
  color: #4e4c58;
  margin-bottom: 2em;
}
.client-box p.tag {
  color: #7447ae;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
}
.client-box a {
  color: #333;
  font-style: italic;
  opacity: 0.5;
}
.client-box.swiper-slide-next {
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari */
  transform: scale(1.15);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.swiper-button-next, .swiper-button-prev {
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  border-radius: 5em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url(../assets/arrow-right.png);
  right: -40px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(../assets/arrow-left.png);
  left: -40px;
}


/* Testimonial */
.testimonial-box {
  padding: 2em;
  color: #fff;
  border-radius: 5px;
  font-weight: 300;
  min-height: 400px;
}
.testimonial-box h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1em;
}
.testimonial-box p.name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 0;
}
.testimonial-box p.designation {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}
.testimonial-box.yellow {
  background-color: #ffbe61;
}
.testimonial-box.purple {
  background-color: #7b32d5;
}
.testimonial-box.blue {
  background-color: #37a7ff;
}
.testimonial-box.pink {
  background-color: #ff2a75;
}


/* Statistics */
.stats {
  margin: 4em 0;
}
.stat-box {
  padding: 4em;
  margin-top: 4em;
  margin-bottom: 4em;
}
.stat-box h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 5.6em;
}
.stat-box h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #4e4c58;
  font-size: 2em;
}


/* Contact Banner */
.contact-banner {
  background:#cbbdef repeat;
  color: #fff;
  padding: 6em;
}
.contact-banner h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 1em;
}


/* Footer */
.footer {
  background-color: #37324b;
  padding: 5em;
}
.footer h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 3em;
  color: #a3a1ac;
  margin-bottom: 2em;
}
.footer h1 span {
  color: #fff;
  font-weight: 300;
}
.footer h1:after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #37a7ff;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-40px, 10px);
}
.footer ul.social-links li a {
  padding-left: 12px;
  padding-right: 12px;
}
.footer ul.social-links li a img {
  max-height: 40px;
}

/* Sub-footer */
.sub-footer {
  background-color: #322e45;
  padding: 2em;
  color: #a3a1ac;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.sub-footer p {
  margin: 0;
  font-size: 1.2em;
}
.sub-footer p a {
  color: #fff;
}
.sub-footer p a:hover {
  opacity: 0.8;
}


/* Main navigation */
nav {
  height: 40px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 3em;
  cursor: pointer;
  transition: .25s ease-in-out;
}
#menu-toggle {
  width: 40px;
  clear: both;
  float: right;
}
#menu-toggle span.line {
  display: block;
  height: 4px;
  width: 40px;
  background-color: #fff;
  transition: .25s ease-in-out;
}
#menu-toggle .hamburger span.line {
  margin-bottom: 0.45em;
  clear: both;
  float: right;
}
#menu-toggle .hamburger span.line:nth-child(1) {
  width: 30px;
  transition-delay: .25s;
}
#menu-toggle .hamburger span.line:nth-child(2) {
  transition-delay: .325s;
}
#menu-toggle .hamburger span.line:nth-child(3) {
  width: 20px;
  transition-delay: .475s;
}

#menu-toggle .cross span.line {
  width: 0px;
  position: absolute;
  top: 10px;
  right: 0;
}
#menu-toggle .cross span.line:nth-child(1) {
  transform: rotate(45deg);
  transition-delay: .0s;
}
#menu-toggle .cross span.line:nth-child(2) {
  transform: rotate(-45deg);
  transition-delay: .25s;
}

#menu-toggle.open .hamburger span.line {
  width: 0px;
}
#menu-toggle.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}
#menu-toggle.open #hamburger span:nth-child(2) {
  transition-delay: .125s;
}
#menu-toggle.open #hamburger span:nth-child(3) {
  transition-delay: .25s;
}

#menu-toggle.open .cross span.line:nth-child(1) {
  width: 40px;
  transition-delay: 1s;
}
#menu-toggle.open .cross span.line:nth-child(2) {
  width: 40px;
  transition-delay: 1.25s;
}

ul.main-nav {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  opacity: 0;

  transition: .25s all;
}
ul.main-nav li {
  display: inline-block;
}
ul.main-nav li a {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform:lowercase;
  padding: 5px 15px;
}
ul.main-nav li a:hover {
  color: #ffbe61;
}
ul.main-nav.show-it {
  opacity: 1;
  
  transition-delay: .25s;
}







.container .card-containerr{
  display:flex;
 flex-direction: row;
 justify-content: center;
  align-items: center; 
   gap: 95px;
}
/*Kurucumuz*/
.founder-info {
  max-width: 400px;
  margin: 0 auto;
}

.founder-info img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; 
}

@media (max-width: 576px) {
  .founder-info img {
    width: 150px;
    height: 150px;
  }
}
/*Kurucumuz Emd*/

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/*Card*/



/* iconlar */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #55ACEE;
  color: white;
}


/* iconlar end*/

/* Let's optimise it for mobile devices */
@media (min-width: 1200px){
  .container .card-containerr{
    margin-left: 150px;
  }

}


@media (max-width: 1200px){



  .container .card-containerr{
    flex-direction:column;   
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container .card-containerr #cardtwo{
    margin-top: 35px;
  }

  .container .card-containerr .card img{
    margin-left: 100px;
    max-width: 100%;
    
  }
  .container .card-containerr .card img{
    align-items: center;
    justify-content: center;
    
    width: 100%;

    
  }


  .btn-lg {
    padding: .8em 3em;
    font-size: .8em;
  }
  h1.heading {
    font-size: 2em;
  }
  header.hero {
    text-align: center;
    padding-bottom: 0;
  }
  header.hero h1 {
    font-size: 2em;
    margin-top: 1.5em;
  }
  header.hero h3 {
    font-size: 1.2em;
    line-height: 1.6em;
  }

  header.heroo {
    text-align: center;
    padding-bottom: 0;
  }
  header.heroo h1 {
    font-size: 2em;
    margin-top: 1.5em;
  }
  header.heroo h3 {
    font-size: 1.2em;
    line-height: 1.6em;
  }


  ul.social-links li.label {
    display: block;
    font-size: 16px;
    margin-bottom: 1em;
  }
  ul.social-links li a {
    opacity: 1;
  }
  .testimonial {
    padding-top: 3rem;
  }
  .case-study .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .case-study .col-md-12 {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }

  /*Swiper classes*/
  .client-box.swiper-slide-next {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper-container {
    padding: 4em 0em;
  }
  .client-box {
    padding: 1em;
    text-align: center;
  }
  .stat-box {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .stat-box h1 {
    font-size: 3.6em;
  }
  .stat-box h3 {
    font-size: 1.4em;
  }
  .contact-banner {
    padding: 2em;
  }
  .contact-banner h1 {
    font-size: 2em;
  }
  .footer {
    padding: 1em 0em;
  }
}


/* Media Query For Desktop */
@media only screen and (min-width: 780px) {

  .contact-banner .container #contactMap .map{
    margin-top: 25px;
  }



	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */






